data/UrbanNav_HK_Whampoa_pntpose_imu.bag
ICP/EvaPos.py:com.dropbox.attrs
ICP/EvaPos.py:Zone.Identifier
ICP/Solution1.csv:com.dropbox.attrs
ICP/Solution1.csv:Zone.Identifier
ICP/Solution2.csv:com.dropbox.attrs
ICP/Solution2.csv:Zone.Identifier
ICP/iterative_closest_point/icpslam.py:com.dropbox.attrs
ICP/iterative_closest_point/icpslam.py:Zone.Identifier
ICP/iterative_closest_point/iterative_closest_point.py:com.dropbox.attrs
ICP/iterative_closest_point/iterative_closest_point.py:Zone.Identifier
ICP/iterative_closest_point/poseExample.py:com.dropbox.attrs
ICP/iterative_closest_point/poseExample.py:Zone.Identifier
ICP/iterative_closest_point/toyicp.py:com.dropbox.attrs
ICP/iterative_closest_point/toyicp.py:Zone.Identifier
ICP/iterative_closest_point/TtransformExample.py:com.dropbox.attrs
ICP/iterative_closest_point/TtransformExample.py:Zone.Identifier
ICP/utils/__init__.py:com.dropbox.attrs
ICP/utils/__init__.py:Zone.Identifier
ICP/utils/angle.py:com.dropbox.attrs
ICP/utils/angle.py:Zone.Identifier
ICP/utils/plot.py:com.dropbox.attrs
ICP/utils/plot.py:Zone.Identifier
ICP/utils/__pycache__/__init__.cpython-312.pyc:com.dropbox.attrs
ICP/utils/__pycache__/angle.cpython-312.pyc:com.dropbox.attrs
lidar_subscriber/launch/fusion.launch:Zone.Identifier
data/imu.csv
data/imu.yaml
data/untitled.m
lidar_subscriber/launch/uwb_imu_batch.launch
lidar_subscriber/rviz/gps_trajectory.rviz
lidar_subscriber/launch/uwb_imu_batch.launch
data/metrics.txt
data/results.txt
data/UrbanNav-HK_Whampoa-20210521_sensors.zip
data/UrbanNav-HK_TST-20210517_sensors.bag
data/2019-04-28-20-58-02.bag
data/UrbanNav-HK_Whampoa-20210521_sensors.bag
data/UrbanNav-HK_Whampoa-20210521_sensors.z01
lidar_subscriber/launch/uwb_imu_batch.launch
lidar_subscriber/CMakeLists.txt
data/WeChatLinux_x86_64.deb
lidar_subscriber/CMakeLists.txt
lidar_subscriber/launch/uwb_imu_batch.launch
data/imu_AccelerometerBias_3D_vector.png
data/imu_GyroscopeBias_3D_vector.png
data/bias.txt
